
body {
    background-color: #36393F;
    color: #FFF;
    font-family: Arial, sans-serif;
}
.message {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2F3136;
    display: flex;
    flex-direction: column; /* تعديل لوضع المحتوى تحت */
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.username {
    color: #7289DA;
    font-weight: bold;
}
.timestamp {
    font-size: 0.8em;
    color: #72767D;
    margin-left: 10px;
}
.content {
    margin-top: 5px;
}
